body {
  font-family: Arial, sans-serif;
  background-color: #1a1a2e;
  color: #e0e0e0;
}

.card {
  border-radius: 5px;
  border: 2px solid #e74c3c;
}

h1,
h2 {
  color: #e74c3c;
  font-weight: bold;
}

.nav-link:hover {
  color: #e74c3c !important;
  display: inline-block;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.nav-link.active {
  color: #e74c3c !important;
  font-weight: bold;
}

#news, #table {
  padding-top: 50px;
  min-height: 100vh;
}
section {
  scroll-margin-top: 70px;
}
