body {
  
  background-image: url("img/peakpx.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: rgba(4, 79, 4, 0.878); 
  line-height: 1.6;
  font-family: Arial, sans-serif;
  
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
 
}

h1{
  color: whitesmoke;
  border-bottom: 2px solid #dcdde1;
  padding-bottom: 5px;
  text-align: center;
}
h2 {
  color: whitesmoke;
  border-bottom: 2px solid #dcdde1;
  padding-bottom: 5px;
}

img {
  border: 4px solid #fff;
  border-radius: 8px;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

figure {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

figcaption p {
  background: #022206d7;
  padding: 20px 40px;
  border-radius: 8px;
  font-style: italic;
  font-size: 16px;
  color: whitesmoke;
  margin-top: 10px;
}

ul {
  color: #fff;
  background:#022206d7;
  padding: 20px 40px;
  border-radius: 8px;
  list-style-type: square;
}

.characteristics, .personality, .skills {
  color: #fff;
  background: #022206d7;
  padding: 20px 40px;
  border-radius: 8px;
  list-style-type: square;
  margin-bottom: 20px;
  text-align: justify;
}