body {
  background-image: url("img/main_theme.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(4, 79, 4, 0.878);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: whitesmoke;
}

h1 {
  background: #012606a9;
  padding: 20px;
  border-radius: 8px;
  border-bottom: 2px solid #dcdde1;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu a {
  background: #022206d7;
  color: whitesmoke;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #fff;
  transition: background 0.3s ease;
}

.menu a:hover {
  background: #044b0ed7;
  transform: scale(1.05);
}

.menu a.hovered {
  background: #044b0ed7;
  transform: scale(1.05);
}

h1.glow {
  text-shadow: 0 0 18px #7fff7f, 0 0 40px #7fff7f;
}