body {
    font-family: Arial, sans-serif;
    background-color: #c1c1c1;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.main-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
}

h1 {
    font-size: 25px;    
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1 0 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 10px;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.active-container {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

li.done .task-text {
    text-decoration: line-through;
    color: #888;
}

.delete-btn {
    background-color: #dc3545;
    padding: 4px 8px;
    font-size: 12px;
}

.delete-btn:hover {
    background-color: #c82333;
}